/out/production/Zadaca2/fikt/edu/mk/Covek.class
/.idea/description.html
/.idea/encodings.xml
/out/production/Zadaca2/fikt/edu/mk/Main.class
/.idea/misc.xml
/.idea/modules.xml
/out/production/Zadaca2/fikt/edu/mk/Pomosna.class
/.idea/project-template.xml
/out/production/Zadaca2/fikt/edu/mk/Student.class
/.idea/vcs.xml
/Zadaca2.iml
